<h1>Listing trips</h1>

<table>
  <thead>
    <tr>
      <th>Arrival</th>
      <th>Departure</th>
      <th>Camp info</th>
      <th>Share url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.arrival %></td>
        <td><%= trip.departure %></td>
        <td><%= trip.camp_info %></td>
        <td><%= trip.share_url %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
