<h1>Trip New Page - takes trip details and saves them to a new trip</h1>

<%= form_for(@trip) do |f| %>
 <div class="field">
    <%= f.label "Arrival Date" %><br>
    <%= f.text_field :arrival %>
  </div>
  <div class="field">
    <%= f.label "Departure Date" %><br>
    <%= f.text_field :departure %>
  </div>
  <div class="actions">
    <%= f.submit %>
<% end %>

<%= @description %>
<%= @driving_direction %>


<%#= render 'form' %>

<%#= link_to 'Back', trips_path %>
