<div class="row">
  <class='col-md-12'>
  <%= form_for(@trip) do |f| %>
 <div class="col-md-2">
    <%= f.text_field :arrival, placeholder: "Arrival Date", class: "rounded", autofocus: "autofocus"  %>
  </div>
  <div class="col-md-2">
    <%= f.text_field :departure, placeholder: "Departure Date", class: "rounded"  %>
  </div>
   <div class="col-md-2">
    <%= f.text_field :name, placeholder: "Trip Name", class: "rounded"  %>
  </div>
  <div class="col-md-2">
    <%= f.text_field :description, placeholder: "Trip Description", class: "rounded" %>
  </div>


	<%= f.hidden_field  :detail_description, value: @description  %>
	<%= f.hidden_field  :driving_direction, value: @driving_direction %>
	<%= f.hidden_field  :important_info, value: @important_info %>
	<%= f.hidden_field  :facilities_description, value: @facilities_description %>
	<%= f.hidden_field  :recreation_description, value: @recreation_description%>
	<%= f.hidden_field  :info_link, value: @info_link %>
	<%= f.hidden_field  :contact_number, value: @contact_number %>
	<%= f.hidden_field  :photos, value: @photos %>
	<%= f.hidden_field  :amenities, value: @amenities %>

  <div class="actions col-md-4">
    <%= f.submit class: "btn btn-primary btn-sm rounded"  %>
  </div>
  <% end %>
</div>

<div style="margin-top:30px;">
	<ul>
		<li><strong>Campground Description:</strong> <%= scrub @description %></li>
		<li><strong>Driving Directions:</strong> <%= scrub @driving_direction %></li>
    <li><strong>Amenities: </strong>
      <% @amenities.each do |amenity| %>
      <%= scrub amenity %>,
      <% end %>
    </li>
		<li><strong>Important Information:</strong><%= scrub @important_info %></li>
		<li><strong>Recreation Description:</strong><%= scrub @recreation_description %> </li>
		<li><strong>Facilities Description:</strong><%= scrub @facilities_description %></li>
		<li><strong>For More Information:</strong><%= link_to @info_link, @info_link %></li>

	</ul>
</div>


<%#= render 'form' %>

<%#= link_to 'Back', trips_path %>
