<h1>Trip Show Page - displays with park data and trip dates</h1>


<p id="notice"><%= notice %></p>

<!-- ADD TRIP NAME, ARRIVAL, DEPARTURE DATES AT TOP OF PARK DETAILS
			ADD GUEST NAME COLUMN on RIGHT -->


<p>
  <strong>Arrival Date:</strong>
  <%= @trip.arrival %>
</p>

<p>
  <strong>Departure Date:</strong>
  <%= @trip.departure %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>


<! trip.amenities, trip.contact_number

<!-- <p>
  <strong>Campground Information:</strong>
  <%#= @trip.arrival %>
</p> -->


<!-- <p>
  <strong>Camp info:</strong>
  <%#= @trip.camp_info %>
</p>

<p>
  <strong>Share url:</strong>
  <%#= @trip.share_url %>
</p>


