<h1>Trip Show Page - displays with park data and trip dates</h1>


<p id="notice"><%= notice %></p>

<!-- ADD TRIP NAME, ARRIVAL, DEPARTURE DATES AT TOP OF PARK DETAILS
			ADD GUEST NAME COLUMN on RIGHT -->


<p>
  <strong>Arrival Date:</strong>
  <%= @trip.arrival %>

  <strong>Departure Date:</strong>
  <%= @trip.departure %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>

  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<p>
  <strong>Campground Description:</strong>
  <%= @trip.detail_description %>
</p>

<p>
  <strong>Driving Directions:</strong>
  <%= @trip.driving_direction %>
</p>

<p>
  <strong>Campground Amenities:</strong>
  <% @trip.amenities_array.each do |amenity| %>
  <%= amenity %>,
  <% end %>
</p>
<p>
  <strong>Facilities:</strong>
  <%= @trip.facilities_description %>
</p>

<p>
  <strong>Recreation Activities:</strong>
  <%= @trip.recreation_description %>
</p>

<p>
  <strong>Important Information:</strong>
  <%= @trip.important_info %>
</p>

<p>
  <strong>Contact Number:</strong>
  <%= @trip.contact_number%>


  <strong>For More Information:</strong>
  <%= link_to @trip.info_link %>
</p>
 
<p>
  <strong>Share this page with your guests:</strong>
  <%= link_to @trip.share_url %>
</p>

 





